@model List<Group>
@{
    ViewData["Title"] = "Добавление студента";
}

<<div class="text-left">
    <h1 class="display-4">Добавление студента</h1>
    <form action="/Student/Add/" method="post">
        <div class="mb-3">
            <label class="form-label">Имя</label>
            <input type="text" name="student.firstName" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Фамилия</label>
            <input type="text" name="student.lastName" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Группа</label>
            <select name="student.groupeId" class="form-control">
                <option value="">...</option>
                @foreach(var group in Model)
                {
                    <option value="@group.Id">@group.Name</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" name="student.email" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" name="student.password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</div>
