@model StudentEditViewModel
@{
    ViewData["Title"] = "Home Page";
}

<<div class="text-left">
    <h1 class="display-4">Редактирование студента</h1>
    <form action="/Student/Edit/" method="post">
        <input type="hidden" name="student.Id" value="@Model?.Student?.Id" class="form-control">
        <div class="mb-3">
            <label class="form-label">Имя</label>
            <input type="text" name="student.firstName" value="@Model?.Student?.FirstName" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Фамилия</label>
            <input type="text" name="student.lastName" value="@Model?.Student?.LastName" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Группа</label>
            <select name="student.groupeId" class="form-control">
                <option value="">...</option>
                @foreach (var group in Model.Groups ?? new List<Group>())
                {
                    <option value="@group.Id" selected="@Model.Student?.GroupeId == group.Id)">@group.Name</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" name="student.email" value="@Model?.Student?.Email" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" name="student.password" value="@Model?.Student?.Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
