@model StudentGetAllDto
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Список студентов</h1>
        <form action="/Group/Add/" method="post">
        <div class="mb-3">
            <label class="form-label">Название группы</label>
            <input type="text" name="name" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
   
</div>
